.country-wrapper{
padding-bottom: 30px;
}
.country-name{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}
.back-button{
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #6e7072 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back-button:hover {
  background-color: #dddcda;
  box-shadow: #ada7a4 0 -6px 8px inset;
  transform: scale(1.125);
}

.back-button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .back-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
.link-button{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.country-info{
    font-size: 20px;
}